body {
    margin: 0px;
    padding: 0px;
    background-color: gray;
    font-size: 130%;
}
.navbar {
    background-color: rgb(3, 3, 109);
    color: white;
    font-size: 2rem;
    padding: 20px 0 20px 20px;
    border: 2px solid black;
}
h2 {
    text-align: center;
}
.our-manu{
    display: flex;
    flex-wrap: wrap;
}
h3 {
    text-align: center;
}
.item1 {
    background-color: rgb(108, 28, 199);
    padding: 10px;
    margin-bottom: 10px;
    flex: 100%;
}
.item2 {
    background-color: rgb(216, 55, 87);
    padding: 10px;
    margin-bottom: 10px;
    flex: 100%;
}

.item3 {
    background-color: rgb(121, 207, 29);
    padding: 10px;
    flex: 100%;
}
#navmenu {

    background-color: orangered;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;

} 

@media (max-width: 768px) {
    .navbar-toggler-icon {
        background-color: purple;
        size: 10px;
    }
}

@media (min-width: 768px) {
    .navbar-toggler-icon {
        display: none;
    }
#navmenu {
        display: none;
    }
.nav-item {
    display: none;
}
} 